.progress {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: rgb(243, 243, 244);
  text-align: start;
  transform: translateY(-8px);
}

.progress:before {
  background: white;
  content: attr(data-label);
  font-size: 0.7rem;
  vertical-align: 0
}

.progress::-webkit-progress-bar {
  border-radius: 3px;
  background: rgb(243, 243, 244);
}

.progress::-moz-progress-bar {
  border-radius: 3px 3px 3px 3px;
  background: rgb(243, 243, 244);
}

.progress::-webkit-progress-value {
  border-radius: 3px 3px 3px 3px;
}